Let's test all operations in Pandas to check if it can compete with the sqlite implementation.

Object:
x: float, y: float, s: string

DataFrame Columns:
x, y, s, obj_id, obj
where obj_id is a unique index

In [16]:
import random
import time
import pandas as pd
import sys
from pympler.asizeof import asizeof

In [7]:
pd.Index([1, 2, 3, 1])

Int64Index([1, 2, 3, 1], dtype='int64')

In [8]:
df = pd.DataFrame({'x': pd.Series(dtype='float'),
                   'y': pd.Series(dtype='float'),
                   's': pd.Series(dtype='str'),
                   'obj_id': pd.Series(dtype='uint64'),
                   'obj': pd.Series(dtype='O')
                   })
df.set_index('obj_id')

Empty DataFrame
Columns: [x, y, s, obj]
Index: []

In [9]:
letters = ['qwertyuiopasdfghjklzxcvbnm']
class Thing:
    def __init__(self):
        self.x = random.random()
        self.y = random.random()
        self.s = ''.join(random.choice(letters) for _ in range(5))

n_things = 10**4
things = [Thing() for _ in range(n_things)]

In [19]:
t0 = time.time()
for t in things:
    df.loc[id(t)] = {'x': t.x, 'y': t.y, 's': t.s, 'obj': t}
t1 = time.time()
print(t1-t0)

13.231499433517456

In [20]:
asizeof(df) / len(df)

778.3432

In [21]:
len(df)

10000