seeing a weird result where doing a sortedsearch is slower than a full scan on 1M items

replicate and debug

In [1]:
import random
import time
import pandas as pd

In [2]:
ids = list(set(random.choice(range(9999999999)) for _ in range(10**6)))
xs = [random.random() for _ in range(len(ids))]

df = pd.DataFrame({'ids': ids, 'x': xs})
df.sort_values('ids', inplace=True)
df.head(n=8)

         ids         x
1540    3277  0.437723
2778    5880  0.653906
3807    7992  0.056061
11820  24792  0.698452
16480  34521  0.572589
23965  50072  0.395231
26307  54781  0.052122
31475  65709  0.093516

In [35]:
t0 = time.time()
for _ in range(1000):
    rand_id = random.choice(ids)
    r = df.iloc[df['ids'].searchsorted(rand_id)]
t1 = time.time()
print(t1-t0)
print(r['ids'])
print(rand_id)

0.12146663665771484
5436896889.0
5436896889

In [36]:
t0 = time.time()
for _ in range(1000):
    rand_id = random.choice(ids)
    r = df[df['ids'] == rand_id] 
t1 = time.time()
print(t1-t0)
print(r['ids'].values)
print(rand_id)

0.9073905944824219
[4044968394]
4044968394

In [39]:
df = pd.DataFrame({'ids': [], 'x': []})
df['ids'].searchsorted(rand_id)

0

In [40]:
len(df['ids'])

0

In [51]:
pos = df['ids'].searchsorted(rand_id)
df.iloc[pos].name

792814

In [4]:
rand_id = random.choice(ids)
s = df['ids']
pos = s.searchsorted(rand_id)
print(rand_id)
s.values[pos]

3312123877

3312123877

In [5]:
s.head()

1540      3277
2778      5880
3807      7992
11820    24792
16480    34521
Name: ids, dtype: int64

In [6]:
df.head()

         ids         x
1540    3277  0.437723
2778    5880  0.653906
3807    7992  0.056061
11820  24792  0.698452
16480  34521  0.572589

In [7]:
s.searchsorted(7992)

2

In [8]:
s[2]

3185573894

In [11]:
s.at[2]

3185573894

In [12]:
s.values[2]

7992